# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build / Dist
# =========================
dist/
build/

# =========================
# Environment Files
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# Database
# =========================
*.db
*.db-journal

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Expo / React Native
# =========================
.expo/
.expo-shared/

# =========================
# Mac / Windows
# =========================
.DS_Store
Thumbs.db

# =========================
# Cache
# =========================
.cache/
*.tsbuildinfo